.prod {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &__img {
    padding-left: 100px;
    width: 50%;
    height: fit-content;
  }
  &__legend {
    width: calc(100% - (60% + 100px));
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: flex-start;
    font-size: 14px;
    color: #6e6d74;
  }
  &__price_main {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #da2e3f;
  }
  &__price_old {
    padding-left: 10px;
    text-decoration: line-through;
    color: #9f9ea3;
  }
}
