@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #32313a;
}
p,
span,
a,
button,
input {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.icnHov {
  color: #e6e5e8;
  &:hover {
    cursor: pointer;
    color: lightpink;
  }
}
.icnHovBag {
  padding-right: 10px;
  color: inherit;
}
.icnCart {
  color: #86858b;
  &:hover {
    color: black;
  }
}
.icnBag {
  position: relative;
}
.iconBagCount {
  border: 2px solid #e6e5e8;
  width: 35%;
  height: 75%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  color: lightpink;
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: x-small;
  font-weight: 600;
  &:hover {
    border-color: lightpink;
  }
}

.icnFooter {
  color: #6e6d74;
  &:hover {
    color: lightpink;
  }
}

.header {
  padding: 10px;
  background: #32313a;
  &_icon {
    padding: 10px;
    stroke: #e6e5e8;
  }
  &_border {
    border-bottom: 1px solid #e6e5e8;
  }
  &_logo {
    color: #fff;
    &__black {
      margin: 18px 0;
      color: #32313a;
    }
  }
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  &_end {
    justify-content: flex-end;
  }
}

.headerNav {
  padding: 16px 0 17px;

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #32313a;
    padding-right: 32px;
    text-decoration: none;
  }
  &__link::after {
    content: url(./img/icon_chevron-down.svg);
    padding-left: 8px;
    display: inline-block;
  }
}

.promocode {
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: #ed83a8;
  margin-bottom: 10px;
  &__text {
    font-weight: 800;
    background: linear-gradient(
      150deg,
      rgb(160, 162, 163) 10%,
      rgb(50, 49, 58) 20%,

      rgb(220, 18, 139) 30%,
      rgb(255, 255, 255) 40%
    );
    background-size: 25% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
  }
  &__link {
    margin-left: 20px;
    border-bottom: 1px solid rgb(246, 244, 248);
    text-decoration: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.hero {
  background-image: url(./img/bg/girl_bg_pink.webp);
  background-repeat: no-repeat;
  margin: auto;
  max-width: 1440px;
  min-height: 700px;
}
.heroNewIn {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1110px;
  position: relative;
  padding-top: 20px;
  &__img {
    // width: 825px;
    width: 75%;
    min-height: 240px;
  }
  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1a1726;
    &_title {
      color: #32313a;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }
  }
}
.page__title {
  padding: 20px 0;
}

.catCardsNav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;

  &__item {
    width: 160px;
    margin: 15px;
    margin-bottom: 100px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #32313a;
    text-decoration: none;
    transition: all, 0.5s;
    box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, 0.2);
    &:hover {
      transform: scale3d(1.2, 1.2, 0.3);
      // rotate3d(1, 1, 1, 5deg);
      transition: all, 0.5s;
      box-shadow: 5px 5px 8px rgb(220, 18, 139);
    }
  }
}

.prodCardsNav {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 15px;
  flex-wrap: wrap;

  &__item {
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 15px;
  }
  &__legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: #32313a;
    font-size: 14px;
    line-height: 18px;
  }
  &__img {
    width: 100%;
    position: relative;
    //object-fit: fill;
  }
  &__text {
    font-size: 13px;
    line-height: 16px;
    color: #56555d;
  }
}

.product_icon,
.old_product_icon {
  position: absolute;
  right: 15px;
  top: 15px;
  fill: none;
  color: #6e6d74;
  padding: 5px 4px 3px 4px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  &:hover {
    color: #6e6d74;
    background-color: lightpink;
  }
  &_active {
    fill: #32313a;
    color: #32313a;
  }

  &_pageIcn {
    position: unset;
    background-color: #e4e5e8;
  }
}

.miniProd {
  margin: 100px;
  &_close {
    margin: 50px;
  }
}

.exclusive {
  width: calc(50% - 125px);

  &__text {
    line-height: 22px;
    color: #6e6d74;
    margin: 15px 0 30px;
  }

  &__img {
    width: 50%;
  }
  &__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;

    text-decoration: none;
    background-color: #32313a;
    color: white;
    padding: 10px 30px;
  }
}
.baner {
  display: block;
  margin: 170px auto 100px;
}
.brend__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #32313a;
}
footer {
  margin-top: 100px;

  padding: 60px 0 60px;
  background-color: #f7f7f9;
  // background-color: yellow;
  color: #6e6d74;
}
.footerNav {
  display: flex;
  flex-direction: column;
  width: 25%;

  &__link {
    display: block;
    text-decoration: none;
    color: #6e6d74;
    margin-top: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #32313a;
  }
}

.signUp {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 22px;
  &__icons {
    margin-top: 40px;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
  }
  &__form {
    margin-top: 24px;
  }
  &__input {
    padding: 10px;
    border: none;
  }
  &__btn {
    padding: 10px 20px;
    background-color: #32313a;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: lightpink;
      color: #32313a;
    }
  }
}
.copy {
  color: #86858b;
}

.sliderBtn {
  margin-right: 20px;
}
.custom-arrow {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.custom-arrow.disabled {
  color: #bfbec6;
  cursor: unset;
}

.fix {
  position: fixed;
  display: none;
}

@import "./components/catalogProdCards/catalogProdCards.scss";
@import "./components/colorSelector/colorSelector.scss";
@import "./components/loader/loader.scss";
@import "./components/search/search.scss";
@import "./components/sizeSelector/sizeSelector.scss";
@import "./components/StarRating/stars.scss";
@import "./pages/pageStyles/favoritePage.scss";
@import "./pages/pageStyles/productPage.scss";
@import "./pages/pageStyles/shoppingBagPage.scss";
