//import bg from "./img/bg/girl_bg_pink.webp";

* {
  padding: 0;
  // box-sizing: border-box;
}

.header {
  padding: 10px;
  background: #32313a;
  &_icon {
    padding: 10px;
  }
  &_border {
    border-bottom: 1px solid #e6e5e8;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
}

.headerNav {
  //display: flex;
  // justify-content: start;
  //align-items: flex-start;
  padding: 16px 0 17px;
  // list-style-type: none;
  &__link {
    padding-right: 32px;
    text-decoration: none;
  }
  &__link::after {
    content: url(./img/icon_chevron-down.svg);
    padding-left: 8px;
    display: inline-block;
  }
  &__search {
    text-decoration: none;
    position: relative;
    // right: 10px;
  }
  &__search::before {
    content: url(./img/icon_search.svg);
    //margin-bottom: -5px;
    position: absolute;
    left: -30px;
    top: 2px;
    // padding-right: 10px;
    // display: inline-block;
  }
}

// .icon_chevron {
//   padding: 0 0 2px 6px;
// }
// .icon_search {
//   margin-bottom: -5px;
//   margin-right: 10px;
// }

.promocode {
  display: flex;
  justify-content: center;
  color: white;
  padding: 18px;
  background-color: #ed83a8;
  margin-bottom: 10px;
  &__link {
    color: inherit;
    margin-left: 20px;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
}

.hero {
  background-image: url(./img/bg/girl_bg_pink.webp);
  background-repeat: no-repeat;
  //background-position: center;
  margin: auto;
  // background-attachment: fixed;
  max-width: 1440px;
  min-height: 700px;
  // position: relative;
}
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;

.catCardsNav {
  display: flex;
  //height: 700px;
  justify-content: center;
  align-items: flex-end;
  // align-self: flex-start;
  //margin: 0 auto;
  text-align: center;

  // flex-direction: column;
  //position: absolute;
  &__item {
    width: 160px;
    margin: 15px;
    margin-bottom: 100px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #32313a;
    text-decoration: none;
  }
}

.prodCardsNav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  margin-top: 15px;
  &__item {
    width: calc(25% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }
}
.miniProd {
  margin: 100px;
}
