//import bg from "./img/bg/girl_bg_pink.webp";

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  // font-family: "Open Sans", sans-serif;
  // font-style: normal;
  //font-weight: 400;
  // font-size: 14px;
  // box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
p,
span,
a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.header {
  padding: 10px;
  background: #32313a;
  &_icon {
    padding: 10px;
    stroke: #e6e5e8;
  }
  &_border {
    border-bottom: 1px solid #e6e5e8;
  }
  &_logo {
    color: #fff;
    &__black {
      margin: 18px 0;
      color: #32313a;
    }
  }
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
}

.headerNav {
  //display: flex;
  // justify-content: start;
  //align-items: flex-start;
  padding: 16px 0 17px;
  // list-style-type: none;
  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #32313a;
    //  font-family: 'Open Sans';

    padding-right: 32px;
    text-decoration: none;
  }
  &__link::after {
    content: url(./img/icon_chevron-down.svg);
    padding-left: 8px;
    display: inline-block;
  }
  &__search {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #32313a;
    text-decoration: none;
    position: relative;
    // right: 10px;
  }
  &__search::before {
    content: url(./img/icon_search.svg);
    //margin-bottom: -5px;
    position: absolute;
    left: -30px;
    top: 2px;
    // padding-right: 10px;
    // display: inline-block;
  }
}

// .icon_chevron {
//   padding: 0 0 2px 6px;
// }
// .icon_search {
//   margin-bottom: -5px;
//   margin-right: 10px;
// }

.promocode {
  display: flex;
  justify-content: center;
  color: white;
  padding: 18px;
  background-color: #ed83a8;
  margin-bottom: 10px;
  &__link {
    color: inherit;
    margin-left: 20px;
    border-bottom: 1px solid white;
    text-decoration: none;
  }
}

.hero {
  background-image: url(./img/bg/girl_bg_pink.webp);
  background-repeat: no-repeat;
  //background-position: center;
  margin: auto;
  // background-attachment: fixed;
  max-width: 1440px;
  min-height: 700px;
  // position: relative;
}

.catCardsNav {
  display: flex;
  //height: 700px;
  justify-content: center;
  align-items: flex-end;
  // align-self: flex-start;
  //margin: 0 auto;
  text-align: center;

  // flex-direction: column;
  //position: absolute;
  &__item {
    width: 160px;
    margin: 15px;
    margin-bottom: 100px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #32313a;
    text-decoration: none;
  }
}

.prodCardsNav {
  display: flex;
  justify-content: space-between;
  //align-items: flex-end;
  text-align: left;
  margin-top: 15px;
  flex-wrap: wrap;

  &__item {
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // text-decoration: none;
    position: relative;
    margin: 0 15px;
  }
  &__legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: #32313a;
    font-size: 14px;
    line-height: 18px;
  }
  &__img {
    width: 100%;
    position: relative;
  }
  &__text {
    font-size: 13px;
    line-height: 16px;
    color: #56555d;
  }
}

.product_icon {
  position: absolute;
  right: 15px;
  top: 15px;
  fill: none;
  stroke: #6e6d74;
  padding: 5px 4px 3px 4px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  &:hover {
    background-color: lightpink;
  }
}
.miniProd {
  margin: 100px;
}

.exclusive {
  width: calc(50% - 125px);
  //font-family: "Merriweather", serif;

  &__text {
    line-height: 22px;
    color: #6e6d74;
    margin: 15px 0 30px;
  }

  &__img {
    width: 50%;
  }
  &__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;

    text-decoration: none;
    background-color: #32313a;
    color: white;
    padding: 10px 30px;
  }
}
.baner {
  display: block;
  margin: 170px auto 100px;
}
.brend__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #32313a;
}
footer {
  margin-top: 100px;

  padding: 60px 0 60px;
  background-color: #f7f7f9;
  // background-color: yellow;
  color: #6e6d74;
}
.footerNav {
  display: flex;
  flex-direction: column;
  width: 25%;

  &__link {
    display: block;
    text-decoration: none;
    color: #6e6d74;
    margin-top: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #32313a;
  }
}

.signUp {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 22px;
  &__icons {
    margin-top: 40px;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-between;
  }
  &__form {
    margin-top: 24px;
  }
  &__input {
    padding: 10px;
    border: none;
  }
  &__btn {
    padding: 10px 20px;
    background-color: #32313a;
    color: white;
    border: none;
  }
}
.copy {
  color: #86858b;
}

.custom-arrow {
  background-color: #fff;
  border: none;
}
.custom-arrow.disabled {
  color: #bfbec6;
}
